<!DOCTYPE html>
<!-- This is the template that renders the html page you see in localhost:3000 -->
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.css">
    <link rel="stylesheet" href="style.css">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300" rel="stylesheet">
    <title>My movies</title>
</head>
<body>
<header>
    <div class="logo container">
        <img src="images/logo.png" alt="Online movies">
    </div>
</header>
<div class="container">
    <nav>
        <ul>
            <li class="active">New release</li>
            <li>Most popular</li>
            <li>Genres</li>
            <li>Blog</li>
            <li>Contact</li>
        </ul>
        <h1>Watch your favorite movies online</h1>
    </nav>


    <div class="myFavoriteMovies">
        <div class="myList">
            <h3 class="greyBg">My favorite movies</h3>
            <ul>
                <!-- call myFavorite function and then loop over the resulting list to display each film -->
                <% myFavorites.forEach((favorite) => { %>
                <li>
                    <form action="/removefromfavorites/<%= favorite.id %>" method="POST">
                        <img src=<%= favorite.picture %> alt="movie" class="popcorn"/>
                        <div class="title"><%= favorite.title %></div>
                        <div class="line">
                            <span>Year:</span>
                            <span class="orange"><%= favorite.year %></span>
                        </div>
                        <div class="line">
                            <span>Director:</span>
                            <span class="orange">Director</span>
                        </div>
                        <button type="submit" value="Submit" class="trash"><img src="images/trash.png"
                                                                                alt="remove from favorites"/></button>
                    </form>
                </li>
                <% }) %>
            </ul>
        </div>
        <div class="form">
            <h3 class="orangeBg">Add to my movie list</h3>
            <form action="/create" method="post">
                <div class="line">
                    <label for="title">Title :</label>
                    <input type="text" name="title"/>
                </div>
                <div class="line">
                    <label for="year">Year :</label>
                    <input type="text" name="year"/>
                </div>
                <div class="line">
                    <label for="picture">Picture :</label>
                    <input type="text" name="picture"/>
                </div>
                <button type="submit" value="Add to my list" class="addButton">Add to my list</button>
            </form>
        </div>
    </div>

    <hr/>


    <h2>Top films</h2>
    <div class="moviesList">

        <!-- loop over movies and render them -->
        <% movies.forEach((movie) => { %>
        <div>
            <form action="/addtofavorites/<%= movie.id %>" method="POST">
                <img src=<%= movie.picture %> alt=<%= movie.title %>/>
                <p class="title"><%= movie.title %></p>
                <p class="year">(<%= movie.year %>)</p>
                <button type="submit" value="Submit" class="star"><img src="images/star.png"
                                                                       alt="put movie in favorite"/></button>
            </form>
        </div>
        <% }) %>
    </div>

</div>
</body>
</html>